:root {
	--t-color: #D8DEE9;
	--h-color: #ffff;

	--bg-color: #383838;
	--nv-color: #121212;
}

body {
	background-color: var(--bg-color);
	color: var(--t-color)
}

h1, h2, h3, h4, b {
	color: var(--h-color) !important;
}

#top-nav {
	background-color: var(--nv-color) !important;
}

.nav-link {
	color: rgba(255, 255, 255, 0.9) !important;
}

.nav-link:hover{
	color: rgba(255, 255, 255, 0.7) !important;
}

.link-dark {
	color: var(--h-color) !important;
}

.link-dark:hover, .link-dark:focus {
	color: #DBDBDB !important;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus {
	box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.7) !important;
}

/* OPTION BUTTON */
.options-button {
	background-color: var(--bs-gray-700);
	border: 1px solid #fff;
}

#options-toggler {
	box-shadow: 0px 3px 50px rgba(0,0,0,0.2);
}

#options-toggler:hover {
	box-shadow: 0px 3px 50px rgba(0,0,0,0.3);
}

#theme:hover, #lan:hover {
	background-color: var(--bg-color);
}

/* TEACHING RELATED */
.academic-name {
	color: #0dcaf0;
}

.academic-block {
	border-left: 2px #0dcaf0 solid;
}

.student-block {
	border-left: 2px #00FFC1 solid;
}

.student-name {
	color: #00FFC1;
}